

.mat-stepper-horizontal {
  margin-top: 8px;
  width: 100%;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

table {
  text-align: left;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th{
  text-align: center;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid rgb(160 160 160);
  // padding: 8px 10px;
}
td {
  text-align: center;
  max-width: 100px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid rgb(160 160 160);
  // padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.inputTable{
  margin-right: 2px;
}

.nextLine{
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.centered-dialog {
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
}


