.uphobutton
{
      transition: background-color 0.3s;
      border-radius: 10px;
}
.dehobutton
{
  transition: background-color 0.3s;
  border-radius: 10px;
}
  .uphobutton
  {
    display: flex;
    align-items: center;
    // justify-self: center;
    justify-self: center;
    position: absolute;
    right: 10%;
    height: 50px;
    width: 50px;
    .bi-check-circle
    {
      position: absolute;
      right: 18%;
      top: 18%;
    }
  }
  .dehobutton
  {
    display: flex;
    align-items: center;
    // justify-self: center;
    justify-self: center;
    position: absolute;
    left: 10%;
    height: 50px;
    width: 50px;
    .bi-door-open
    {
      position: absolute;
      right: 18%;
      top: 18%;
    }
  }

  .uphobutton:hover
  {
    background-color: rgba(27, 27, 27, 0.877);
    .bi-check-circle
    {
      color: #ffffff;
    }
  }
  .addinfobutton:hover
  {
    background-color: rgba(27, 27, 27, 0.877);
    .bi-check-circle
    {
      color: #ffffff;
    }
  }
  .dehobutton:hover
  {
    background-color : rgba(27, 27, 27, 0.877);
    .bi-door-open
    {
      color: #ffffff;
    }
  }
