<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      修改
    </ng-template>
    <!-- 修改內容區域 -->
    <app-feedialog></app-feedialog>
  </mat-tab>



  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">help_outline</mat-icon>
      使用教學
    </ng-template>
    <!-- 使用教學內容區域 -->
    <app-feeguidance></app-feeguidance>
  </mat-tab>


  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">add_circle</mat-icon>
        新增
      </ng-template>
      <!-- 新增內容區域 -->
     <app-addnew></app-addnew>
    </mat-tab>
  
  
  </mat-tab-group>
  