.shadow {
  // border: solid 0.5px;
  padding: 10px;
  // width: 100%;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 1);

}

.date {
  width: 150px;
  height: 50px;
  margin-right: 10px;
}



.dateDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 10px;
}
