.changbutton
{
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 0%;
  right: 10%;
  transition: background-color 0.3s;
  border-radius: 10px;
}
.changbutton:hover
{

  background-color: rgba(27, 27, 27, 0.877);
  .bi-repeat
  {
    color: #ffffff;
  }
}

.Resident_Information
{
  display: flex;
  align-items: center;
 // justify-self: center;
  justify-self: center;
  width: 50%;
  height: 75%;
  border-radius: 10px;
  border: 2px solid black;
  left: 25%;
  bottom: 5%;
 // top:20%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transition: transform 0.25s ease-in;
  //transition: left 0.5s;
  z-index: 1;
  //transform: translateY(100%) ;
  //transform:translateX(150px);

}
.Lase
{
  display: flex;
  align-items: center;
 // justify-self: center;
 background-color: rgb(255, 255, 255);
  justify-self: center;
  width: 50%;
  height: 75%;
  border-radius: 10px;
  border: 2px solid black;
  left: 30%;
  position: absolute;
  bottom: 15%;
  z-index: 0;
  transition: transform 0.25s ease-in;
}
// .Lase:hover
// {
//   transform:translateX(-10%) translateY(13%);
// }
.main
{
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.OwnerName
{
 position: absolute;
 left: 30%;
 top: 10%;
}
.OwnerPhone
{
  position: absolute;
  left: 10%;
  top: 40%;
}
.Residential_Zone
{
  position: absolute;
  left: 10%;
  top: 80%;
}
.House_number
{
  position: absolute;
  right: 10%;
  top: 40%;
}
.isLase
{
  position: absolute;
  right: 10%;
  top: 80%;
}
.tableMain
{

  height: 60px;
  width: 100%;
  position: relative;
  background-color: #ffffff;

  .mat-elevation-z8
  {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 70%;
  }
  .mat-row
  {
    width: 50%;
  }
  .mat-row:hover {
    background-color: #91e5ff5e; /* 您可以根據需求設置不同的顏色 */
  }
  .addinfobutton
  {
    // position: absolute;
    // top: -10%;
    // width: 5%;
    height: 50%;
    width: 5%;
    border-radius: 10%;
    transition: background-color 0.3s;
     padding: 0.5%;
  }

}
.uphobutton
{
      transition: background-color 0.3s;
      border-radius: 10px;
}
.dehobutton
{
  transition: background-color 0.3s;
  border-radius: 10px;
}
.buttonSize
{
  display: flex;
  align-items: center;
 // justify-self: center;
  justify-self: center;
  margin-left: -30px;
  position: relative;
  .uphobutton
  {
    display: flex;
    align-items: center;
    // justify-self: center;
    justify-self: center;
    position: absolute;
    right: 0%;
    height: 50px;
    width: 50px;
    .bi-pencil-square
    {
      position: absolute;
      right: 18%;
      top: 18%;
    }
  }
  .dehobutton
  {
    display: flex;
    align-items: center;
    // justify-self: center;
    justify-self: center;
    position: absolute;
    left: 0%;
    height: 50px;
    width: 50px;
    .bi-trash3-fill
    {
      position: absolute;
      right: 18%;
      top: 18%;
    }
  }
}
  .uphobutton:hover
  {
    background-color: rgba(27, 27, 27, 0.877);
    .bi-pencil-square
    {
      color: #ffffff;
    }
  }
  .addinfobutton:hover
  {
    background-color: rgba(27, 27, 27, 0.877);
    .bi-plus-circle
    {
      color: #ffffff;
    }
  }
  .dehobutton:hover
  {
    background-color : rgba(27, 27, 27, 0.877);
    .bi-trash3-fill
    {
      color: #ffffff;
    }
  }
  .bi-arrow-down-circle
  {
    transform: rotateX(180deg)
  }
  .button
  {
    border-radius: 20px;
    width: max-content;
    padding: 0.5em;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;

  }
  .button:hover
  {
    background-color: #262626;
    .bi-arrow-bar-down
    {
      color: #ffffff;
    }
  }
