.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

th{
  text-align: center;
  max-width: 300px;
  min-width: 100px;
}
td{
  text-align: center;
  max-width: 300px;
  min-width: 100px;
}

.shadow {

  // border: solid 0.5px;
  padding: 25px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 1);

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-dialog {
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
