<div class="container" style="position: relative;">
  <div class="row">
    <!-- 年+季搜尋 -->
    <mat-form-field style="width: 277px;" appearance="outline" class="col-12 col-md-4 mb-3">
      <mat-label>年+季搜尋</mat-label>
      <input matInput id="yearSeasonInput" (keyup)="applyYearSeasonFilter($event)" placeholder="例如輸入1141" #input>
    </mat-form-field>

    <!-- 是否繳清費用搜尋 -->
    <mat-form-field style="width: 150px;" appearance="outline" class="col-12 col-md-4 mb-3">
      <mat-label>是否繳清</mat-label>
      <mat-select id="feeStatusSelect" (selectionChange)="applyFeeStatusFilter($event)" >
        <mat-option value="">全部</mat-option>
        <mat-option value="是">是</mat-option>
        <mat-option value="否">否</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- 模糊搜尋 -->
    <mat-form-field style="width: 277px;" appearance="outline" class="col-12 col-md-4 mb-3">
      <mat-label>模糊搜尋</mat-label>
      <input matInput id="generalInput" (keyup)="applyGeneralFilter($event)" placeholder="搜尋任何欄位關鍵字 例如門牌A01" #input>
    </mat-form-field>

    <!-- 重置搜尋按鈕 -->
    <button mat-fab extended  class="ms-5 mb-3 col-12 col-md-2" (click)="resetFilters()">
      <mat-icon>refresh</mat-icon>重置搜尋</button>

      
    <!-- 匯出按鈕：Excel -->
    <button mat-fab extended  class="ms-3 mb-3 col-12 col-md-2" (click)="exportToExcel()">
      <mat-icon>file_download</mat-icon>匯出Excel</button>
    
    <!-- 匯出按鈕：PDF -->
    <!-- <button mat-fab extended  class="ms-3 mb-3 col-12 col-md-2" (click)="exportToPDF()">
      <mat-icon>picture_as_pdf</mat-icon>匯出PDF</button> -->

    <!-- 改動按鈕 -->
    <button mat-fab  class="mb-3 col-12 col-md-2" style="position: absolute; top: 0; right: 0;"
      (click)="openDialog()">改動</button>
  </div>
</div>

<!-- table , before -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> 門牌 </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> 年度 </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="season">
    <th mat-header-cell *matHeaderCellDef> 季 </th>
    <td mat-cell *matCellDef="let element"> {{element.season}} </td>
  </ng-container>

  <ng-container matColumnDef="fee">
    <th mat-header-cell *matHeaderCellDef> 是否繳清費用 </th>
    <td mat-cell *matCellDef="let element"> {{element.fee}} </td>
  </ng-container>

  <ng-container matColumnDef="remark">
    <th mat-header-cell *matHeaderCellDef> 備註 </th>
    <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
  </ng-container>

  <ng-container matColumnDef="modifying">
    <th mat-header-cell *matHeaderCellDef> 最後操作時間 </th>
    <td mat-cell *matCellDef="let element"> {{element.modifying}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="6">找不到符合條件的資料</td>
  </tr>
</table>

<mat-paginator [length]="1000" [pageSize]="20" [pageSizeOptions]="[10, 20, 100]" aria-label="Select page">
</mat-paginator>

<app-float-buttons></app-float-buttons>