<!-- <div class="Resident_Information">
    <h1 class="OwnerName">姓名:({{OwnerName}})</h1>
    <h3 class="OwnerPhone">電話:{{OwnerPhone}}</h3>
    <h3 class="Residential_Zone">分區: {{Residential_Zone}}</h3>
    <h3 class="House_number">門牌: {{House_number}}</h3>
</div> -->

<!-- scName -->
<div style="display: flex;align-items: center;align-self: center;height: 100px;width: 100%;">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
  <input type="text" name="" id=""placeholder="輸入姓名關鍵字" (keyup)="inputData()" [(ngModel)]="scaData[0].owerName">
</div>
<div class="mat-elevation-z8">
  <div style="display: flex;align-items: center;align-self: center;height: 100px;width: 100%;">
    <!-- ADD -->
    <div style="display: flex;align-items: center;align-self: center;  margin-left: -1%;">
      <button (click)="addInfo()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
          <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
          <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>
      </button>
    </div>

      <!-- startDay -->
      <div  style="display: flex;align-items: center;align-self: center;height: 50%; margin-left: 1%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar3-event" viewBox="0 0 16 16">
          <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
          <path d="M12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        <input type="datetime-local" name="" id="" [(ngModel)]="scaData[0].starDateTime" (change)="inputData()" >
      </div >
    <!-- EndDay -->
    <div  style="display: flex;align-items: center;align-self: center;height:50%; margin-left: 1%;">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
      <input type="datetime-local" name="" id="" [(ngModel)]="scaData[0].endDateTime" (change)="inputData()">
    </div>
<!-- selectZone -->
  <div style="display: flex;align-items: center;align-self: center;height: 30%; margin-left: 1%;">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
      <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
      <path fill-rule="evenodd" d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0v14h-3v-2.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V15H3V1h10Z"/>
    </svg>
    <select name="" id="" value="" (change)="inputData()"[(ngModel)]="Residential_Zone">
      <option value="">區域預設</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>
  </div>
  <!-- Max -->
  <div style="display: flex;align-items: center;align-self: center; margin-left: 1%; width:16%;">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
    <input type="text" name="" id=""placeholder="輸入門牌號最大值" [(ngModel)]="maxvalue"(keyup)="inputData()" >
  </div>
<!-- Min -->
  <div style="display: flex;align-items: center;align-self: center;  margin-left: 1%;width: 16%;">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
    </svg>
    <input type="text" name="" id=""placeholder="輸入門牌號最小值" [(ngModel)]="minValue"(keyup)="inputData()">
  </div>
  <!-- isLeave -->
  <div style="display: flex;align-items: center;align-self: center;  margin-left: 1%;">
    <button style="z-index: 1;"  (click)="chickisLeave()">
      @if(isLeave)
      {
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
          <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
        </svg>
      }
      @else
      {
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
          <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
          <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
        </svg>
      }
    </button>
  </div>
  <!-- ============================================================= -->
  </div>

  <table mat-table [dataSource]="dataSource">
    <!-- 编号列 -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> 编号 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.id}} </td>
    </ng-container>

    <!-- 业主姓名列 -->
    <ng-container matColumnDef="visitorName">
      <th mat-header-cell *matHeaderCellDef> 姓名 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.visitorName}} </td>
    </ng-container>

    <!-- 业主电话列 -->
    <ng-container matColumnDef="visitorPhone">
      <th mat-header-cell *matHeaderCellDef> 電話 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.visitorPhone}} </td>
    </ng-container>

    <!-- 居住区列 -->
    <ng-container matColumnDef="visitorTime">
      <th mat-header-cell *matHeaderCellDef> 進入時間 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.visitorTime}} </td>
    </ng-container>

    <ng-container matColumnDef="outTime">
      <th mat-header-cell *matHeaderCellDef> 離開時間 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.outTime}} </td>
    </ng-container>
    <!-- 门牌号列 -->
    <ng-container matColumnDef="visitorReason">
      <th mat-header-cell *matHeaderCellDef> 原因 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.visitorReason}}</td>
    </ng-container>

    <ng-container matColumnDef="Residential_Zone">
      <th mat-header-cell *matHeaderCellDef> 造訪對象區域 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.Residential_Zone}} </td>
    </ng-container>
    <ng-container matColumnDef="House_number">
      <th mat-header-cell *matHeaderCellDef> 造訪對象門牌號 </th>
      <td mat-cell *matCellDef="let element"[ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.House_number}} </td>
    </ng-container>
    <ng-container matColumnDef="visitors">
      <th mat-header-cell *matHeaderCellDef> 造訪對象 </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.visitors}} </td>
    </ng-container>

    <ng-container matColumnDef="tool">

      <th mat-header-cell *matHeaderCellDef> 離開按鈕 </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'zzxc':AllData[element.id-1].isleav}"> {{element.Visitingobject}}
      <button (click)="upDeta(element)">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
          <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
        </svg>
      </button>
    </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="getResidents(row.id)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

