.Resident_Information
{
  display: flex;
  align-items: center;
 // justify-self: center;
  justify-self: center;
  width: 50%;
  height: 40%;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
}
.OwnerName
{
 position: absolute;
 left: 30%;
 top: 0%;
}
.OwnerPhone
{
  position: absolute;
  left: 0%;
  top: 30%;
}
.Residential_Zone
{
  position: absolute;
  left: 0%;
  top: 50%;
}
.House_number
{
  position: absolute;
  left: 0%;
  top: 70%;
}
table {
  width: 100%;
}
