<h2 mat-dialog-title>{{ data.title ? '編輯公告' : '新增公告' }}</h2>
<mat-dialog-content>
  <form [formGroup]="announcementForm">
    <mat-form-field appearance="fill">
      <mat-label>標題</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="announcementForm.get('title')?.hasError('required')">
        標題為必填項
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>日期</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="announcementForm.get('date')?.hasError('required')">
        日期為必填項
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>內容</mat-label>
      <textarea matInput formControlName="content"></textarea>
      <mat-error *ngIf="announcementForm.get('content')?.hasError('required')">
        內容為必填項
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>圖片 URL</mat-label>
      <input matInput formControlName="imageUrl">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">取消</button>
  <button mat-button (click)="onSubmit()" [disabled]="!announcementForm.valid">{{ data.title ? '更新' : '新增' }}</button>
</mat-dialog-actions>
