<div class="container">
  <h2>
    <input type="text" [(ngModel)]="inputText" (ngModelChange)="onInputChange()" placeholder="請輸入年份或文字"
      class="year-input" />
    <span class="editable-text" contenteditable="true" (input)="onEditableTextChange($event)">年停車費用管理</span>

    <mat-icon class="help-icon"
      matTooltip="目前這是'年'繳費表，所以資料撈當下時間-365天內的資料，所以如果需要以季或其他時段請聯絡後台管理員，已'季'為單位，資料會撈-90天的資料，請注意，若超過此時間就只能手動對帳"
      [matTooltipClass]="'custom-tooltip'" matTooltipPosition="above" style="white-space: pre-line;">
      help
    </mat-icon>
  </h2>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- 停車位欄位 -->
      <ng-container matColumnDef="parking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>停車位</th>
        <td mat-cell *matCellDef="let element">{{ element.parking }}</td>
      </ng-container>

      <!-- 停車費欄位 -->
      <ng-container matColumnDef="parkingFee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>車位費(年費)</th>
        <td mat-cell *matCellDef="let element">{{ element.parkingFee }}</td>
      </ng-container>

      <!-- 擁有者欄位 -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>擁有者</th>
        <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
      </ng-container>

      <!-- 付款狀態欄位 -->
      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>全繳清狀態</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.paid" style="color:rgb(43, 161, 43)">check_circle</mat-icon>
          <mat-icon *ngIf="!element.paid" style="color:rgb(237, 124, 124)">cancel</mat-icon>
        </td>
      </ng-container>

      <!-- 收款帳號欄位 -->
      <!-- <ng-container matColumnDef="receiveMoneyAccount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>收款帳號</th>
        <td mat-cell *matCellDef="let element">{{ element.receiveMoneyAccount || '尚無付款' }}</td>
      </ng-container> -->

      <!-- 收款金額欄位 -->
      <ng-container matColumnDef="receive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>總共支付金額</th>
        <td mat-cell *matCellDef="let element">{{ element.receive ||'N/A'}}</td>
      </ng-container>

      <!-- 付款帳號欄位 -->
      <ng-container matColumnDef="sendMoneyAccount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>付款帳號</th>
        <td mat-cell *matCellDef="let element">{{ element.sendMoneyAccount || '尚無付款' }}</td>
      </ng-container>

      <!-- 操作欄位 -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="text-primary" (click)="editItem(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="text-secondary" (click)="deleteItem(element.parking)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="row px-3 mt-2  justify-content-between">
    <button mat-stroked-button (click)="openAddDialog()" class="add-button col-2" style="max-width: 200px;">
      <mat-icon>add</mat-icon> 新增停車位
    </button>

    <button mat-stroked-button (click)="updatePaidStatus()" class="update-button col-2" style="max-width: 200px;">
      <mat-icon>update</mat-icon> 更新付款狀態
    </button>

    <button mat-stroked-button (click)="exportToExcel()" class="export-button col-2" style="max-width: 200px;">
      <mat-icon>file_download</mat-icon> 匯出Excel
    </button>

    <button mat-stroked-button routerLink="/carfee/carfeeextend" class="col-2" style="max-width: 200px;">
      <mat-icon>dvr</mat-icon>顯示完整匯款清單
    </button>
  </div>
</div>

<!-- 編輯/新增對話框 -->
<ng-template #dialogTemplate>
  <h2 mat-dialog-title>{{isEditing ? '編輯' : '新增'}}停車位資料</h2>
  <div mat-dialog-content>
    <form [formGroup]="feeForm" class="m-2 ">
      <mat-form-field appearance="outline">
        <mat-label>停車位</mat-label>
        <input matInput formControlName="parking">
      </mat-form-field>

      <mat-form-field appearance="outline" class="m-3">
        <mat-label>停車費</mat-label>
        <input matInput type="number" formControlName="parkingFee">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>擁有者</mat-label>
        <input matInput formControlName="owner">
      </mat-form-field>

      <mat-form-field appearance="outline" class="m-3">
        <mat-label>付款狀態</mat-label>
        <mat-select formControlName="paid">
          <mat-option [value]="true">已付款</mat-option>
          <mat-option [value]="false">未付款</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancelDialog()">取消</button>
    <button mat-raised-button color="primary" (click)="saveItem()" [disabled]="feeForm.invalid">儲存</button>
  </div>
</ng-template>


<div class="routerbox">
  <router-outlet></router-outlet>


</div>

<div class="chartbox">
  <app-carfeechart></app-carfeechart>
</div>

<app-float-buttons></app-float-buttons>