.help-icon {
  font-size: 18px;
  vertical-align: middle;
  cursor: help;
  margin-left: 8px;
  color: #666;
  position: relative;
  top: -2px;

  // 添加懸停效果
  &:hover {
    color: #3f51b5; // Material 主題色，可依據你的應用主題調整
  }
}



/* 隱藏 input 框的邊框 */
.year-input {
  border: none;
  text-align: left;  
  width: 80px;
  max-width: 140px;  
  min-width: 80px;
  margin:0;
  padding: 0;

}

/* 可編輯文字樣式 */
.editable-text {
  display: inline-block;

  cursor: text;  /* 讓文字看起來可以編輯 */
  
}
